@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dallin Stirling Index";
    ViewData["Header"] = "Dallin Stirling";
}
<!--This is the HTML page index. -- AUTHOR Dallin Stirling -- -->



<img src="img/EWFE3891.JPEG" width="400" height="500" id="dalPic" />
<p>From this IS 413 Class I hope to become better at C# and ASP.NET so I'll be taken seriously in the workplace.</p>
<br />

<h3>I am most interested in the following jobs:</h3>

<ol>
    <li>Data Scientist</li>
    <li>Business Analyst</li>
    <li>Data Security Specialist</li>
</ol>


